body{
    background-color: cornflowerblue;
}
header{
    max-width: 100%;
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: red;
    z-index: 9999;
}
nav,ul{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
li:nth-child(1){
    margin-left: 10%;
}
#Services,#Products,#footer,#image{
    max-width: 100%;
    width: 100%;
}
#About,#Services p{
    padding: 30px;
    margin: 10px;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 30px;
}
li{
    cursor: pointer;
    list-style: none;
    margin-right: 10%;
}
header a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}
header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: 0.4%;
}
header a:hover{
    font-weight: bolder;
}
#About h1{
    padding-top: 80px;
}
#About{
    background-color: blue;
    height: fit-content;
    box-shadow: 2px 4px 20px 10px blanchedalmond;
}
.sec-about{
    padding: 0px 50px 50px 50px;
}
#Product{
    height: fit-content;
    background-color: green;
    box-shadow: 2px 4px 20px 10px blanchedalmond;
}
#Product h1{
    padding-top: 80px;
}
#Services{
    background-color: gray;
    height: fit-content;
    box-shadow: 2px 4px 20px 10px blanchedalmond;
}
#Services h1{
    padding-top: 80px;
}
.first-block,.second-block{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 10px;
}
h2{
    text-align: center;
    font-size: 30px;
}
#Product img,iframe{
    width: 250px;
    height: 250px;
    padding: 1%;
    border-radius: 10px;
}
iframe{
    padding-bottom: 50px;
}
.sec-first,.sec-second{
    margin: 0px 40px 40px 40px;
    max-width: 100%;
    height: auto;
}
.service1{
    display: flex;
}
.service1 p{
    border: 2px solid black;
}
#image img{
    width: inherit;
}
.services{
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-content: space-between;
}
#footer{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 4px 20px 10px blanchedalmond;
}
.first-section{
    margin-top: 20px;
    margin-left: 20%;
}
.second-section{
    margin-top: 20px;
    margin-right: 20%;
}
@media screen and (max-width:990px) and (-webkit-min-device-pixel-ratio:0){
    header{
        width: 60px;
        height: 100%;
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: red;
        z-index: 9999;
    }
    nav,ul{
        position: absolute;
    }
    li:nth-child(1){
        margin-top: 100px;
        margin-left: -15px;
    }
    li{
        cursor: pointer;
        list-style: none;
        margin-right: 1000px;
        margin-left: -15px;
    }
    header a{
        font-size: 17px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    header img{
        margin-top: 10%;
        margin-left: 7%;
    }
    #Services,#Product,#footer{
        margin-left: 60px;
        max-width: 100%;
        width: 100%;
        height: fit-content;
    }
    #About{
        width: 100%;
    }
    .first-block,.second-block{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: 10px;
    }
    #Product img,iframe{
        width: 200px;
        height: 200px;
    }
    .image-section{
        display: flex;
        justify-content: space-around;
    }
    #image{
        display: none;
    }
    .services{
        display: block;
    }
    .services p{
        font-size: 15px;
    }
    .second-block{
        padding-top: 45px;
    }
    .service1{
        display: blockf;
    }
    #footer{
        flex-direction: column-reverse;
    }
    #footer img{
        width: 40px;
        height: 40px;
    }
    .second-section{
        margin-left: 30px;
    }
    .first-section{
        margin-left: 30px;
    }
}
@media screen and (max-width:500px) and (-webkit-min-device-pixel-ratio:0) {
    header{
        width: 60px;
        height: 100%;
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: red;
        z-index: 9999;
    }
    nav,ul{
        position: absolute;
    }
    li:nth-child(1){
        margin-top: 100px;
    }
    li{
        cursor: pointer;
        list-style: none;
    }
    header a{
        font-size: 17px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    header img{
        margin-top: 10%;
        margin-left: 7%;
    }
    #Services,#Product,#footer{
        margin-left: 60px;
        max-width: 100%;
        width: 100%;
        height: fit-content;
    }
    #About{
        width: 96%;
    }
    .second-block{
        padding-top: 45px;
    }

    #Product img,iframe{
        width: 150px;
        height: 150px;
    }
    .first-block,.second-block{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin: 10px;
    }
    .image-section{
        display: flex;
        justify-content: space-around;
    }
    .service1 p{
        font-size: 15px;
    }
    .service1{
        display: block;
    }
    #image{
        display: none;
    }
}